<div class="topbar">
  <div class="container">
    <div class="nav">
      <a class="brand" href="{% url 'home' %}">
        <span class="brand-badge"></span>
        <span>RaSel</span>
      </a>

      <div class="navlinks">
        <a href="{% url 'shop:product_list' %}">Tienda</a>
        <a href="{% url 'cart:detail' %}">Carrito</a>
        <span class="pill">
          <span class="muted">Blend Suave</span>
          <strong>Catamarca</strong>
        </span>
      </div>
    </div>
  </div>
</div>
