{% load static %}
<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %}RaSel — Aceite de Oliva{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/site.css' %}">
  <link rel="icon" href="{% static 'favicon.ico' %}">
</head>
<body>
  {% include "partials/_header.html" %}

  <main class="container">
    <div class="spacer"></div>
    {% block content %}{% endblock %}
    <div class="spacer"></div>
  </main>

  {% include "partials/_footer.html" %}
</body>
</html>

